#login-buttons
  padding 15px 10px
  line-height 18px
  a.login-link-text
    color #f0f0f0

#messages-container
  margin-top 15px

#users
  margin-top -7px
  margin-bottom 10px
  .label
    margin-right .5em
  .label.idle
    background-color #B8B8B8
